#commentBox {
    margin-top: 5px;
    font-size: 28px;
}

.comment-box {
    margin-bottom: 40px;
}

.user {
    font-weight: bold;
}

.title-list {
    margin-top: 50px;
    color: #AFB2B4;
}

.comment {
    background-color: #E4E7E9;
    border-radius: 15px;
    padding: 10px;
    font-size: 18px;
}

.like-btn {
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}